/**
 {{#description_parts}}
 * {{{.}}}
 {{/description_parts}}
 * @link {{{source}}}
 {{#params}}
 * @param {*} {{{.}}}
 {{/params}}
 * @returns {unknown}
 */
{{{function}}}

export default {{function_name}}