import { createRequire } from "node:module";
import { describe, it } from "@jest/globals";
import {{function_name}} from "{{{filename}}}";

const require = createRequire(import.meta.url);

{{{fixture}}}